# OS X
.DS_Store*
Icon?
._*

# Windows
.reviewsys/Thumbs.db
.reviewsys/ehthumbs.db
.reviewsys/Desktop.ini

# Linux
.directory
.reviewsys/node_modules
.reviewsys/package-lock.json
*~


# npm
.reviewsys/*.log
.reviewsys/*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs
