extends layout

block content
	if !authenticated
		.jumbotron.text-center.logInDisplay
			.card
				.card-body
					i.ionicons.ion-log-in#logInLogo 
					p FeedBack System
					hr
					.alert.alert-success#regSucc
						b Success
						.glyphicon.glyphicon-remove#close_error
		
					.alert.alert-danger#err
						b Error
						.glyphicon.glyphicon-remove#close_error
					
					#inputRegisterFeilds
						input(type='text', name="name", placeholder="Name" )
						input(type='text', name="username", placeholder="Username" )
						input(type='password', name="password", placeholder="Password")
						input(type='password', name="cnfpassword", placeholder="Confirm Password")
						select#typeSelect(name="pType")
							option(value='0', selected='selected') User
							option(value='1') Owner
							option(value='2') Admin
						div(style="text-align:center;padding:15px;")
							button.showReply(id="registerBtn" type="submit" name="submit") Register
						.modal-footer
							.options
								p
									| Already a member ? 
									span#logInLink LogIn 

					#inputLoginFeilds
						input(type='text', name="username", placeholder="Username" )
						input(type='password', name="password", placeholder="Password")
						div(style="text-align:center;padding:15px")
							button.showReply(id="logInBtn" type="submit" name="submit") LogIn
						.modal-footer
							.options
								p
									| Not a member? 
									span#signUpLink Sign Up
	
	
	.indexPage
		.jumbotron.rHeader
			.sHeader
				a.sHeaderLogo
					img#sImgHeader(src='./images/logo.png', alt='Review System')
				div(style='width:100%')
					div(style='width:100%')
						a.sHeaderLogo(href='./index.html', title='Go to Intermine Search Home Page')
							img#sImgHeaderMobile(src='./images/logo.png', alt='Review System')
								
					div
						.sInpt
							input#sBar(name='sQuery', type='text', placeholder='Search Here..', autocomplete='off')
							button#sBtn(type='submit')
								i#sBtnIcon.ionicons.ion-ios-search-strong
						
						div(style="text-align:center;padding:15px")
							button.showReply#logoutBtn Logout
						
					.jumbotron.text-center.mMines(style='display:none')
						#mMines
							#mClose
								i.ionicons.ion-close-circled
							#mNum
								p Results per mine 
								input(name='mSearchNum', type='number', placeholder='10', autocomplete='off')
							hr
							#mNeighboursList
							hr
							#mMineList
							hr
							.sInptBtn
								button#sInptBtn(type='submit') Search All
					div
						.rTool
							div(style='display:inline-flex')
								p.rToolBtns.rToolBtnActive.showAll Restaurants
								p.rToolBtns.fMines Users
								
							div(style='display:inline-flex')
								p.rToolBtns.mSearch Add
		
		#mainResults
			.sResults
				#recentSearch
					#rLog
						#numberResults
						div
							.dropdown
								button#fScore.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
									| Filter&nbsp&nbsp 
									i.ionicons.ion-funnel(title='Filter')
								ul.dropdown-menu(role='menu', aria-labelledby='menu1')
									each val, index in ["fourUpRate", "threeUpRate", "twoUpRate", "oneUpRate"]
										button.fBtn(id=val tabindex='-1')
											i#fInd.fa.fa-chevron-circle-right
											.star-ratings-css
												.star-ratings-css-top
													- for(var i = 4; i > index; i--) {
															span(style='color: #22dbf4d;') ★
													- }
													- for(var i = 0; i <= index; i++) {
															span(style='color: #d1d5da;') ★
													- }
											p
												| & Up
										- if(index<3)
												li.divider(role='presentation')
									
									#rmFilterDiv
										li.divider(role='presentation')
										button#removeFilter.fBtn(tabindex='-1')
											i#removeFilterBtn.ionicons.ion-close-round
											p
												| Remove Filter
			
					#loader_divFilter
						.loader
							.line
							.line
							.line
							.line
					
					.sResultsMain
						.sResultBox
							table
								tbody
									tr#restaurantInfo
										td
											div#restaurantHeading
												p#restaurantName Raku 
												button.i.ionicons.ion-android-delete#delete(type="button")
											hr
											#details
												p#aboutUs Cozy room packs foodies for creative Japanese small plates, plus a bustling late-night scene.
												p#address Las Vegas, NV, US
												p#time 10:00AM - 3:00AM
										td#restaurantBigRating 
											p 4.2
											.rStats
												.star-ratings-css
													.star-ratings-css-top
														span ★
														span ★
														span ★
														span ★
														span ★
													.star-ratings-css-bottom
														span ★
														span ★
														span ★
														span ★
														span ★
									tr#restaurantExReview
										td
											hr
											table
												tr
													td
														table
															tr
																td 
																	i.fa.fa-thumbs-up#pReviewLogo
																	p 4.2
																td
																	p#pReviewText  Fans of the book as well as uninitiated moviegoers looking for a thought-provoking character piece will find  plenty to enjoy and ponder in Boone's latest film
													td#sepRev
														table
															tr
																td 
																	i.fa.fa-thumbs-down#nReviewLogo
																	p 1.2
																td
																	p#nReviewText  Fans of the book as well as uninitiated moviegoers looking for a thought-provoking character piece will find  plenty to enjoy and ponder in Boone's latest film
					
					.sResultsMain
						.sResultBox
							table
								tbody
									tr#restaurantInfo
										td
											p#restaurantName Raku
											hr
											#details
												p#aboutUs Cozy room packs foodies for creative Japanese small plates, plus a bustling late-night scene.
												p#address Las Vegas, NV, US
												p#time 10:00AM - 3:00AM
										td#restaurantBigRating 
											p 4.2
											.rStats
												.star-ratings-css
													.star-ratings-css-top
														span ★
														span ★
														span ★
														span ★
														span ★
													.star-ratings-css-bottom
														span ★
														span ★
														span ★
														span ★
														span ★
									tr#restaurantExReview
										td
											hr
											table
												tr
													td
														table
															tr
																td 
																	i.fa.fa-thumbs-up#pReviewLogo
																	p 4.2
																td
																	p#pReviewText  Fans of the book as well as uninitiated moviegoers looking for a thought-provoking character piece will find  plenty to enjoy and ponder in Boone's latest film
													td#sepRev
														table
															tr
																td 
																	i.fa.fa-thumbs-down#nReviewLogo
																	p 1.2
																td
																	p#nReviewText  Fans of the book as well as uninitiated moviegoers looking for a thought-provoking character piece will find  plenty to enjoy and ponder in Boone's latest film
				
						
			div(style='position:fixed')
				.sResultsMine
					.mineNameHeader
						div(style="display:inline-flex;")
						p(style='float:left;margin:10px;font-weight:800;font-size:15px') Raku Reviews
						#writeReview(style="float:right")
							i.fa.fa-pencil#writeReviewBtn(data-toggle='tooltip', title='Save')
					.reviewList
							li
								table#reviewTableDiv
									tbody
										tr#reviewInfoDiv
											td(style="float:left;")
													p#reviewerName Himanshu Kumar
													p#reviewDate 02 Aug 2018
											td(style="float:right;")
													button.i.ionicons.ion-android-delete#delete(type="button")
										tr#reviewTextDiv
											td
												table
													tr
														td 
															i.fa.fa-thumbs-up#pReviewLogo
															p 4.2
														td
															p#pReviewText  Fans of the book as well as uninitiated moviegoers looking for a thought-provoking character piece will find  plenty to enjoy and ponder in Boone's latest film Fans of the book as well as uninitiated moviegoers looking
										
										tr.showReplyDiv
											-var replied = false
											if !replied
												td(style="float:left;width:80%")
													textarea(id="replyPostText" name="replyPostText" placeholder="Write your regards..." required )
												td(style="float:right;")    
													button#postReply(type="button") Post
														
											if replied  
												td(style="float:right")
													button.showReply(type="button") Show Reply
													p#replyText(style="display:none")
														span(style="font-weight:800;font-style:italic;font-size:15px") Owner Says 
														| : Fans of the book as well as uninitiated moviegoers looking for a thought-provoking character piece will find  plenty to enjoy and ponder in Boone's latest film
							
							li
								table#reviewTableDiv
									tbody
										tr#reviewInfoDiv
											td(style="float:left;")
													p#reviewerName Himanshu Kumar
													p#reviewDate 02 Aug 2018
											td(style="float:right;")
													button.i.ionicons.ion-android-delete#delete(type="button")
										tr#reviewTextDiv
											td
												table
													tr
														td 
															i.fa.fa-thumbs-up#pReviewLogo
															p 4.2
														td
															p#pReviewText  Fans of the book as well as uninitiated moviegoers looking for a thought-provoking character piece will find  plenty to enjoy and ponder in Boone's latest film Fans of the book as well as uninitiated moviegoers looking
										
										tr.showReplyDiv
											-var replied = false
											if !replied
												td(style="float:left;width:80%")
													textarea(id="replyPostText" name="replyPostText" placeholder="Write your regards..." required )
												td(style="float:right;")    
													button#postReply(type="button") Post
														
											if replied  
												td(style="float:right")
													button.showReply(type="button") Show Reply
													p#replyText(style="display:none")
														span(style="font-weight:800;font-style:italic;font-size:15px") Owner Says 
														| : Fans of the book as well as uninitiated moviegoers looking for a thought-provoking character piece will find  plenty to enjoy and ponder in Boone's latest film					
							li
								table#reviewTableDiv
									tbody
										tr#reviewInfoDiv
											td(style="float:left;")
													p#reviewerName Himanshu Kumar
													p#reviewDate 02 Aug 2018
											td(style="float:right;")
													button.i.ionicons.ion-android-delete#delete(type="button")
										tr#reviewTextDiv
											td
												table
													tr
														td 
															i.fa.fa-thumbs-up#pReviewLogo
															p 4.2
														td
															p#pReviewText  Fans of the book as well as uninitiated moviegoers looking for a thought-provoking character piece will find  plenty to enjoy and ponder in Boone's latest film Fans of the book as well as uninitiated moviegoers looking
										
										tr#showReplydiv
											-var replied = true
											if !replied
												td(style="float:left;width:80%")
													textarea(id="replyPostText" name="replyPostText" placeholder="Write your regards..." required )
												td(style="float:right;")    
													button#postReply(type="button") Post
														
											if replied  
												td(style="float:right")
													button.showReply(type="button") Show Reply
													p#replyText(style="display:none")
														span(style="font-weight:800;font-style:italic;font-size:15px") Owner Says 
														| : Fans of the book as well as uninitiated moviegoers looking for a thought-provoking character piece will find  plenty to enjoy and ponder in Boone's latest film
															
		
				block content			
	
	script(src='javascripts/review.js')
	if authenticated
		script.
			console.log("Himanshu");
			document.getElementsByClassName("indexPage")[0].style.display = "block";
	
