extends layout

block content
	if !authenticated
		.jumbotron.text-center.logInDisplay
			.card
				.card-body
					i.ionicons.ion-log-in#logInLogo 
					p FeedBack System
					hr
					.alert.alert-success#regSucc
						b Success
						.glyphicon.glyphicon-remove#close_error
		
					.alert.alert-danger#err
						b Error
						.glyphicon.glyphicon-remove#close_error
					
					#inputRegisterFeilds
						input(type='text', name="name", placeholder="Name" )
						input(type='text', name="username", placeholder="Username" )
						input(type='password', name="password", placeholder="Password")
						input(type='password', name="cnfpassword", placeholder="Confirm Password")
						select#typeSelect(name="pType")
							option(value='1', selected='selected') User
							option(value='2') Owner
							//option(value='94321') Admin
						div(style="text-align:center;padding:15px;")
							button.showReply(id="registerBtn" type="submit" name="submit") Register
						.modal-footer
							.options
								p
									| Already a member ? 
									span#logInLink LogIn 

					#inputLoginFeilds
						input(type='text', name="username", placeholder="Username" autocomplete="off")
						input(type='password', name="password", placeholder="Password")
						div(style="text-align:center;padding:15px")
							button.showReply(id="logInBtn" type="submit" name="submit") LogIn
						.modal-footer
							.options
								p
									| Not a member? 
									span#signUpLink Sign Up
	
	
	.indexPage
		.jumbotron.rHeader
			.sHeader
				a.sHeaderLogo
					img#sImgHeader(src='./images/logo.png', alt='Review System')
				div(style='width:100%')
					div(style='width:100%')
						a.sHeaderLogo(href='./index.html', title='Go to Intermine Search Home Page')
							img#sImgHeaderMobile(src='./images/logo.png', alt='Review System')
								
					div
						.sInpt
							input#sBar(name='sQuery', type='text', placeholder='Search Here..', autocomplete='off')
							button#sBtn(type='submit')
								i#sBtnIcon.ionicons.ion-ios-search-strong
						
						
						
				
					div
						.rTool
							div(style='display:inline-flex')
								p.rToolBtns.rToolBtnActive.showAll Courses

								p.rToolBtns.showUsers(style='display:none') Users
								p.rToolBtns.showUsers Users
							div(style='display:inline-flex')
								button#logoutBtn Logout
		
		#mainResults
			.sResults
				#recentSearch
					#rLog
						button.showReply#restSaveShowBtn(type="button") 
							i.fa.fa-plus(style="padding-right:5px;")
							| Add
						#numberResults
						div
							.dropdown
								button#fScore.showReply.dropdown-toggle(type='button', data-toggle='dropdown', aria-expanded='false')
									| Filter&nbsp&nbsp 
									i.ionicons.ion-funnel(title='Filter')
								ul.dropdown-menu(role='menu', aria-labelledby='menu1')
									each val, index in ["fourUpRate", "threeUpRate", "twoUpRate", "oneUpRate"]
										button.fBtn(id=val tabindex='-1')
											i#fInd.fa.fa-chevron-circle-right
											.star-ratings-css
												.star-ratings-css-top
													- for(var i = 4; i > index; i--) {
															span(style='color: #22dbf4d;') ★
													- }
													- for(var i = 0; i <= index; i++) {
															span(style='color: #d1d5da;') ★
													- }
											p
												| & Up
										- if(index<3)
												li.divider(role='presentation')
									
									#rmFilterDiv
										li.divider(role='presentation')
										button#removeFilter.fBtn(tabindex='-1')
											i#removeFilterBtn.ionicons.ion-close-round
											p
												| Remove Filter
					
					.alert.alert-success#regSucc
						b Success
						.glyphicon.glyphicon-remove#close_error
		
					.alert.alert-danger#err
						b Error
						.glyphicon.glyphicon-remove#close_error
					
					#loader_divFilter
						.loader
							.line
							.line
							.line
							.line
					
					.restSaveDiv
						#restaurantSaveInfo
							input(type="text" name="restName" placeholder="Course Name" autcomplete="off" id="restNameSave" required)
							textarea(id="restDescSave" name="restDesc" placeholder="Course Description..." required )
							input(type="text" name="restAdd" placeholder="Taken at" autcomplete="off" id="restAddSave" required)

							input(type="text" name="restLink[]" placeholder="Preview Link 1 (Youtube)" autcomplete="off" class="restLink" required)
							input(type="text" name="restLink[]" placeholder="Optional Preview Link 2 (Youtube)" autcomplete="off" class="restLink")
							input(type="text" name="restLink[]" placeholder="Optional Preview Link 3 (Youtube)" autcomplete="off" class="restLink")
							input(type="text" name="restLink[]" placeholder="Optional Preview Link 4 (Youtube)" autcomplete="off" class="restLink")
							div(style="text-align:right;width:100%")
								button#restSaveBtn.showReply(type="button") Save
					
					.restaurantLists
			
		#userList(style="display:none")
			.userListDiv(style='left: 2%;top:120px;border:none')
				.header
					h.headerContent(style="float:left") User List
					h.headerContent.listLen(style="float:right") 16 Users
				.alert.alert-success#regSucc(style="margin:10px auto")
					b Success
					.glyphicon.glyphicon-remove#close_error
				.alert.alert-danger#err(style="margin:10px auto")
					b Error
					.glyphicon.glyphicon-remove#close_error
				
				.usersList
				
			.ownerListDiv(style='right:2%;top:120px;border:none')
				.header
					h.headerContent(style="float:left") Owners List
					h.headerContent.listLen(style="float:right") 16 Onwers
					
				.alert.alert-success#regSucc(style="margin:10px auto")
					b Success
					.glyphicon.glyphicon-remove#close_error
				.alert.alert-danger#err(style="margin:10px auto")
					b Error
					.glyphicon.glyphicon-remove#close_error
				
				.ownersList
					
	if authenticated
		script.
			document.getElementsByClassName("indexPage")[0].style.display = "block";
			InitailzeDisplay(1, null);
		
